body{
  background-color: #efefef;
}
#heading{
  padding: 2px;
 font-family: 'Lora', serif;
 font-weight: normal;
 color: rgba(26, 28, 25, 0.32);
 margin-bottom: 400px;
}
.sidebox {
  background-color: #ffc107;
  width: 15%;
  height: 30px;
  border: #ffc107;
  padding: 2px;
  margin: 20px;
  position: absolute;
  top: 1px;
  right: 1px;
}
.sidebox:after{
  content: "";
 display: block;
 padding-bottom: 100%
}

.top {
  height:37px;
   width:65px;
   border-radius: 90px 90px 0 0;
   background:#FFFFFF;
   position:fixed;
   top:31%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.centerbox{
  background-color: #FFFFFF;
  width: 38%;
  height: 35%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   box-shadow: 2px 2px 2px rgba(26, 28, 25, 0.32);

}
.insidebox1 {
  background-color: #ffc107;
  width: 36%;
  height: 70px;
  border: #ffc107;
  padding: 2px;
  margin: 2px;
  position: absolute;
  top: 100px;
  left: 35px;
}
.insidebox2 {
  background-color: #ffc107;
  width: 36%;
  height: 70px;
  border: #ffc107;
  padding: 2px;
  margin: 2px;
  position: absolute;
  top: 100px;
  right: 35px;
}

.boxtext{
  padding: 2px;
 font-family: 'Lora', serif;
 font-weight: normal;
 color: rgba(77, 69, 74, 0.84);
 font-size: 15px;
 text-align: center;
}
.outtext{
  padding: 15px;
 font-family: 'Lora', serif;
 font-weight: normal;
 color: rgba(77, 69, 74, 0.84);
 font-size: 15px;
 text-align:-webkit-center;
margin-left:15%;
}
.footer{
  background-color: #ffc107;
  width: 15%;
  height: 30px;
  border: #ffc107;
  padding: 2px;
  position: absolute;
  top: 94%;
  left:50%;
  transform: translate(-50%, -50%);

}
